#root {
  height: 100%
}

body {
  background-color: #f0ffff;
  color: #708090;
  height: 100hv;
  font-family: monospace;
 
}
.App {
  height: 100%;
 
  max-width: 500px;
 text-align: center;
 margin: auto;
}

.reset {
  margin-bottom: 3em;
}


h1 {
  font-size: 4em;
  color: slategrey;
  text-shadow:  2px 2px #535361;
}

.pomodoro h2 {
  font-size: 2em;
  
 
}

.time{
  font-size: 3em;
  

}

button {
  margin: 0.5em;
}


.mainBtns, .lengths button {
	box-shadow: inset 1px 1px 0 0 #6aa3aa;
	background-color: azure;
	border-radius:6px;
	border:1px solid rgb(134, 189, 199);
	display:inline-block;
	cursor:pointer;
	color: #46666D;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
.mainBtns:hover, .lengths button:hover {
	background-color: rgb(134, 189, 199);
  color: #46666D;
}
.mainBtns:active {
	position:relative;
	top:1px;
}


.lengths {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
 

}






